

.homeCardContainer{
  display: flex;
  justify-content: center;
  gap:30px;
  /* background-color: linear-gradient(45deg, rgb(91 108 196), rgba(0, 0, 0, 0.223)); */
  flex-wrap: wrap;
  height: 90.1vh;
}


.card{
  border: 1px solid #63ffcc;
  padding: 3px;
  min-width:300px;
  height: 150px;
  display: flex;
  justify-content: center;
  place-items: center;
  color: white;
}

.card{
  background-color: #63FFCC;
}